*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.page2{
  /* background-color: gray; */
  position: relative;
}

.content{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 5;
  /* gap: 80rem; */
}

.content h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 6rem;
}

.box, .box1, .box2, .box3{
  height: 100px;
  width: 100px;
  margin-bottom: 2rem;
}

.box{
  background-color: red;
}

.box1{
  background-color: green;
}

.box2{
  background-color: blue;
}
.box3{
  background-color: yellow;
}


button{
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: none;

}

.page{
  height: 100vh;
  width: 100%;
}




.imageDiv{
  height: 100%;
  width: 100%;
  transform-origin: center;

}


img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

