*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#app{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

#app .title{
  font-size: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.box, .box1, .box2, .box3{
  height: 100px;
  width: 100px;
  margin-bottom: 2rem;
}

.box{
  background-color: rgb(102, 8, 8);
}

.box1{
  background-color: green;
}

.box2{
  background-color: blue;
}
.box3{
  background-color: yellow;
}

.imageGallery{
  height: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: white; */
  overflow-y: scroll;
}

.imageGallery img{
  height: 40%;
  width: 40%;
  object-fit: cover;
}


.imageShow{
  height: 70%;
  width: 60%;
  background-color: rgb(14, 30, 44);
}


.imageShow img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}